table, th, td {
    border: 3px solid rgb(228, 35, 35);
    border-collapse: collapse;
    background-color: chocolate;
    
}
th, td {
    padding: 0.5px;
}

#hh1{
    font-size: 50px;
    color: blue;
text-shadow: cyan;
}
#feranmi{
    margin-left: 555px;
font-style: red;
}
#pelumi{
    color: white;
}


#mom{
    padding-left:20px ;
    padding-bottom: 5px;
    margin-left: 660px;
    font-size: 15px;
    color: red;
    background-color: darkgrey;
}
#daa{padding: 2px;

}
#dbb{padding: 2px;

}
#dcc{padding: 2px;

}
#ded{padding: 2px;

}
#dff{padding: 2px;

}
#aa{padding: 2px;

}
#bb{padding: 2px;

}
#cc{padding: 2px;

}
#dd{padding: 2px;

}
#ee{padding: 2px;

}
#ff{padding: 2px;

}
#gg{padding: 2px;

}
#hh{padding: 2px;

}
#ii{padding: 2px;

}
#jj{padding: 2px;

}
#kk{padding: 2px;

}
#lla{padding: 2px;

}
#mma{padding: 2px;

}
#nn{padding: 2px;

}
#oo{padding: 2px;

}
#pp{padding: 2px;

}
#qq{padding: 2px;

}
#rr{padding: 2px;

}
#ss{padding: 2px;

}
#tt{padding: 2px;

}
#uu{padding: 2px;

}
#vv{padding: 2px;

}
#ww{padding: 2px;

}
#xx{padding: 2px;

}

#yy{padding: 2px;

}
#zz{padding: 2px;

}
#ab{padding: 2px;

}
#ac{padding: 2px;

}
#ad{padding: 2px;

}
#ae{padding: 2px;

}
#af{padding: 2px;

}
#ag{padding: 2px;

}
#ah{padding: 2px;

}
#ai{padding: 2px;

}
#aj{padding: 2px;

}
#ak{padding: 2px;

}
#al{padding: 2px;

}
#am{padding: 2px;

}
#ann{padding: 2px;

}
#aoo{padding: 2px;

}
#ap{padding: 2px;

}
#aq{padding: 2px;

}
#ar{padding: 2px;

}
#as{padding: 2px;

}
#at{padding: 2px;

}
#caa{padding: 2px;

}
#cbb{padding: 2px;

}
#ccx{padding: 2px;

}
#cdd{padding: 2px;

}
#cee{padding: 2px;

}
#cfx{padding: 2px;

}
#cgg{padding: 2px;

}
#chh{padding: 2px;

}
#cii{padding: 2px;

}
#cjj{padding: 2px;

}
#ckk{padding: 2px;

}
#cll{padding: 2px;

}
#cmm{padding: 2px;

}
#cnn{padding: 2px;

}
#coo{padding: 2px;

}
#cpp{padding: 2px;

}
#cqq{padding: 2px;

}
#crr{padding: 2px;

}
#css{padding: 2px;

}
#ctt{padding: 2px;

}
#cuu{padding: 2px;

}

